- provide(:title, "About")
%h1 About
%p 
  The
  %a{ href: "http://railstutorial.org" }
    %em Ruby on Rails Tutorial
  is a
  %a{ href: "http://railstutorial.org/book" } book
  and
  %a{ href: "http://screencasts.railstutorial.org" } screen cast series
  to teach web development with
  %a{ href: "http://rubyonrails.org" } Ruby on Rails.
